body {
  font-family: 'Open Sans', sans-serif;
  color: #263238;
}


.lp {
  background-color: lightcoral;
  background-image: url(../img/bg-land.png);
  background-position: center;
}



.sampul {
  width: 100%;
  height: min-content;
  position: static;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.sampulLogo {
  position: static;
}

.logos {
  position: static;
  margin-top: -32%;
  margin-left: 45%;
}

.text1 {
  position: static;
  text-align: center;
  font-weight: bold;
}

.text2 {
  position: static;
  font-weight: 700;
  text-align: center;
}

.lokasi {
  position: static;
}


/* tampilan surat */

.warp-panduan {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
  margin-top: 100px;
}

.panduan {
  width: 500px;
  height: 80px;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5%;
  border-radius: 15px;
  cursor: pointer;
}

.panduan-title {
  font-weight: bold;
  font-size: 18px;
}


/* input formulir */
.title {
  width: 240px;
  height: 40px;
  background-color: #c9e51a;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: -10px;
  border-radius: 40px;
  text-indent: 20px;
  color: white;
}

.btnb {
  margin-top: 50px;
}

.konten {
  width: 100%;
  border: 1px solid black;
  padding: 20px;
  margin: 10px auto;
  background-color: darkgrey;
  border-radius: 15px;

}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}


.surat {
  background-color: #ebebeb;
  font-size: 20px;
  font-weight: 900;
}



/* beranda */
.cardlayout {
  margin-top: 50px;
}


#slideArticle {
  height: 200px;
  width: 1150px;
}

.cardlayout .headcard {
  height: 28px;
  width: 180px;
  background-color: #c9e51a;
  border-radius: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.cardlayout .headcard span {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}

.agenda {
  padding-top: 5px;
  padding-left: 5px;
  font-weight: 800;
  font-size: 27px;
}

.agenda2 {
  padding: 5px;
  font-weight: 500;
  font-size: 17px;
}

.surat {
  background-color: #ebebeb;
  font-size: 20px;
  font-weight: 900;
}

.login {
  background-color: #ebebeb;
  width: 50%;
  height: 50%;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  border: #263238 2px solid;
}

.img {
  margin-left: 30px;
  margin-top: 30px;
}

.header1 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.header2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.button {
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
}


#cardlayout {
  margin-top: 50px;
}


#slideArticle {
  height: 200px;
}

#cardlayout .headcard {
  height: 28px;
  width: 150px;
  background-color: #C9E51A;
  border-radius: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#cardlayout .headcard span {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}


/* Informasi */
#content-agenda {
  border-radius: 15px;
  width: 100%;
  height: 550px;
  background-color: #EBEBEB;
  padding: 10px;
}


#card-agenda {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  background-color: #C4C4C4;
  border-radius: 20px;
}

.artikel-list {
  height: 100px;
  width: 100%;
}


/* tentang */

.textlist {
  background-color: #C4C4C4;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 50px;
}

.tombol {
  cursor: pointer;
}


/* surat */

.surat a:visited {
  color: black;
  text-decoration: none;
}

.surat a:link {
  color: black;
  text-decoration: none;
}


/* sahare artikel */

.warp-share-parent {
  width: 100%;
  height: 100px;
}

.warp-share {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Footer */

footer {
  color: azure;
  font-weight: bold;
}


#footbawah {
  clear: both;
  background: #252632;
  margin: auto;
  padding: 25px 20px;
  color: #95a5a6;
  font-size: 14px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: -20px;
}

#footbawah a {
  color: #f1c40f;
}

.footbawahkiri {
  text-align: left;
  float: left;
}

.footbawahkanan {
  text-align: right;
  float: right;
}

.footbawahkanan a {
  color: #2ecc71;
}

.footbawahkanan a:hover {
  color: #fff;
}

.footer-menu {
  color: #95a5a6;
  background-color: #2d404a;
  font-size: 15px;
  text-align: center;
  padding: 25px;
}

#subscribe-footer {
  overflow: hidden;
  margin: 0 0 20px 0;
}

#subscribe-footer p {
  margin: 1em 0;
}

#subscribe-footer .emailfooter {
  margin: auto;
  text-align: center;
}

#subscribe-footer .emailfooter form {
  margin: 0;
  padding: 0;
  float: none;
}

#subscribe-footer .emailfooter input {
  background: rgba(255, 255, 255, 1);
  padding: 9px 12px;
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#subscribe-footer .emailfooter input:hover {
  border-color: rgba(0, 0, 0, 0.34);
}

#subscribe-footer .emailfooter input:focus {
  color: #000;
  outline: none;
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

#subscribe-footer .emailfooter .submitfooter {
  background: #2ecc71;
  color: #fff;
  margin: 0 0 0 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  transition: all 0.3s;
}

#subscribe-footer .emailfooter .submitfooter:active,
#subscribe-footer .emailfooter .submitfooter:hover {
  background: #27ae60;
  color: #fff;
  outline: none;
  box-shadow: none;
}